<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="alternate" hreflang="en" href="https://www.inboxlist.dev">
  <link rel="icon" href="/assets/icons/inbox.ico">
  {% seo %}
  <link rel="stylesheet" href="{{ "/assets/styles/main.css" | relative_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  <link href="https://fonts.cdnfonts.com/css/thegoodmonolith" rel="stylesheet">
  {% feed_meta %}
</head>
