<div class="signup-form-wrapper">
  <form name="signup-form" id="signup-form">
    <div class="inputs">
        <input type="text"
               placeholder="How do you like to be called?"
               name="name"
               id="name"/>
        <input type="email"
               placeholder="email"
               name="email"
               id="email"/>
    </div>
    <button type="submit"
            class="btn black"
            id="submit">
            Submit
    </button>
  </form>
</div>
